.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 120px;
}

/*
.sidenav .mat-toolbar {
  background: inherit;
}
*/

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.exit{
  margin-left: 250px;
  //position: float;
  //top: 80 px;
  //left: 900 px;
  //float: right;
  //position: relative;
}
